
@font-face {
    font-family:"FeatherIcons";
    src:url("FeatherIcons.woff2") format("woff2"),url("FeatherIcons.woff") format("woff"),url("FeatherIcons.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        